body {
    background-color: black;
}


.nav-top {
    float: left;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
    overflow: hidden;
    margin-right: 900px;
    margin-left: 80px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .nav-top a{
    color: white;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    float: left;
  }
  ul li a {
    text-decoration: none;
    color: white;
    padding: 16px 20px;
    font-size: 16px;
    display: block;
  }
  

button {
    transform:
        rotate(-25deg)
        skew(25deg);
    transform-style:
        preserve-3d;
        position: relative;
        width: 100px;
        height: 32px;
        border: none;
        background: transparent;
        margin-left: 700px;
        margin-top: 400px;
}
button:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #00ff6a;
    transform: skewX(-41deg);
}

button:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #00ff6a;
    transform: skewX();
}

button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ff6a;
    color: #fff;
    font-size: 25px;
    transition: 1.1s ease-out;
}

button:hover span {
    z-index: 1000;
    transition: 0.3s;
    color: #fff;
}

button:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}

button:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.8;
}

button:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}

button:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4;
}

button:hover span:nth-child(1){
    transform: translate(0px, -0px);
    opacity: 0.2;
}

button:nth-child(1) hover span {
    background: #49484b;
}

.footer {
    /* padding-left: 40px; */
    background-color: #F8F8F8;
    width: 1080;
    height: 320px;
  }
  
  .footer-isi{
    line-height: 1;
    /* padding-left: 180px; */
    padding-right: 100px;
  }
  
  .content-footer {
    padding-left: 50px;
    margin-left: 50px;
  }
  
  .content-footer a {
    text-decoration: none;
  }
  
  td {
    padding-left: 160px;
    padding-right: 20px;
  }
  
  a:link, a:visited {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .end {
    text-align: center;
    /* padding: ; */
    background-color: #F8F8F8;;
    color: gray;
    text-decoration: none;
    width: 1080px;
    margin-left: 200px;
  }