*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }

  
.header-image {
    width: 100%;
    position: absolute;
    top: -20vh;
    z-index: -1;
  }
  .header-image img {
    width: 100%;
  }
  
  .nav-top {
    float: left;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 40px;
    overflow: hidden;
    margin-right: 900px;
    margin-left: 80px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .nav-top a{
    color: white;
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    float: left;
  }
  ul li a {
    text-decoration: none;
    color: white;
    padding: 16px 20px;
    font-size: 16px;
    display: block;
  }
  

  .contact-section{
    background: url(./image/unai-home-banner_home-with-a-beautiful-campus\ \(1\).jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
    margin-bottom: 10px;
  }
  .contact-section h1{
    text-align: center;
    color: #ddd;
    margin-right: 20px;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }

  
.footer {
    /* padding-left: 40px; */
    background-color: #F8F8F8;
    width: 1080;
    height: 320px;
  }
  
  .footer-isi{
    line-height: 1;
    /* padding-left: 180px; */
    padding-right: 100px;
  }
  
  .content-footer {
    padding-left: 50px;
    margin-left: 50px;
  }
  
  .content-footer a {
    text-decoration: none;
  }
  
  td {
    padding-left: 160px;
    padding-right: 20px;
  }
  
  a:link, a:visited {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .end {
    text-align: center;
    /* padding: ; */
    background-color: #F8F8F8;;
    color: gray;
    text-decoration: none;
    width: 1080px;
    margin-left: 200px;
  }
  